In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

In [0]:
data = ([1, 'Joe', 70000, 1], [2, 'Jim', 90000, 1], [3, 'Henry', 80000, 2], [4, 'Sam', 60000, 2], [5, 'Max', 90000, 1])
columns=['id', 'name', 'salary', 'departmentId']

emp_df = spark.createDataFrame(data = data, schema = columns)

In [0]:
emp_df.show()

+---+-----+------+------------+
| id| name|salary|departmentId|
+---+-----+------+------------+
|  1|  Joe| 70000|           1|
|  2|  Jim| 90000|           1|
|  3|Henry| 80000|           2|
|  4|  Sam| 60000|           2|
|  5|  Max| 90000|           1|
+---+-----+------+------------+

In [0]:
window = Window.partitionBy('departmentId').orderBy('salary')

emp_df.withColumn("rn",rank().over(window)).where(col("rn")==1).show()

+---+----+------+------------+---+
| id|name|salary|departmentId| rn|
+---+----+------+------------+---+
|  1| Joe| 70000|           1|  1|
|  4| Sam| 60000|           2|  1|
+---+----+------+------------+---+