In [0]:
data = ([1, 8000, 'Jan'], [2, 9000, 'Jan'], [3, 10000, 'Feb'], [1, 7000, 'Feb'], [1, 6000, 'Mar'])

In [0]:
 columns=['id', 'revenue', 'month']

In [0]:
df = spark.createDataFrame(data = data, schema = columns)

In [0]:
df.show()

+---+-------+-----+
| id|revenue|month|
+---+-------+-----+
|  1|   8000|  Jan|
|  2|   9000|  Jan|
|  3|  10000|  Feb|
|  1|   7000|  Feb|
|  1|   6000|  Mar|
+---+-------+-----+

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

In [0]:
df.groupBy("id").pivot("month").agg(max("revenue")).show()

+---+-----+----+----+
| id|  Feb| Jan| Mar|
+---+-----+----+----+
|  1| 7000|8000|6000|
|  3|10000|null|null|
|  2| null|9000|null|
+---+-----+----+----+